<VirtualHost *:80>
    ServerAdmin me@mysite.com
    DocumentRoot "$PATH_TO_THE_DIR"
    ServerName mediapart.stadja.net

    #ErrorLog "logs/mediapart-error.log"
    #CustomLog "logs/mediapart-access.log" combined

    <Directory "$PATH_TO_THE_DIR">
        AllowOverride All
        Order allow,deny
        Allow from all
    </Directory>
</VirtualHost>
